@font-face{
    font-family: 'myFont';
    src:url(font/NothingYouCouldDo-Regular.ttf);
}
@font-face {
    font-family: 'myFont1';
    src: url(font/Neuton-Bold.ttf);
}
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
#home{
    height: 100vh;
    background-image: url(assests/bg.jpg);
    background-position: center;
    display: absolute;
    background-size: cover;
    width: 100%;
    z-index: -1;
    box-shadow: 0px 0px 20px black;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
html{
    scroll-behavior: smooth;
}
nav{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0,0, 0.5);
    box-shadow: 5px 5px 20px black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    border-radius: 5px;

}
nav .menu{
    text-align: right;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: px;
    transition: 0.5s;
    margin: 3px;
    display: inline-block;
    text-align: center;
    font-family: 'myFont1', sans-serif;
}

.menu ul{
    display: inline-flex;
    color: transparent;
    margin: 15px;
}
.menu ul li .active{
    color: tomato;
    border-bottom: 5px solid tomato;
    width: 100%;
    transition: 0.3s ease;
    border-radius: 1px;
}
.menu ul li a:hover{
    background: none;
    text-shadow: 0px 0px 20px;
    color: tomato;
    padding: px;
}
a:nth-child(1){
    width: 80px;
}
a:nth-child(2){
    width: 80px;
}
a:nth-child(3){
    width: 80px;
}
a:nth-child(4){
    width: 80px;
}
a:nth-child(5){
    width: 80px;
}

/*
.menu ul li:nth-child(1) a{
    color: tomato;
}
.menu ul li:nth-child(5) a:hover{
    color: white ;
}
.menu ul li:nth-child(5) a{
    background-color: tomato;
}
*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 20px;
    cursor: pointer;
}
.logo img{
    height: 50px;
    width: 50px;

}
.main{
    color: white;
}

.content1{
    top: 20%;
    left: 40%;
    position: absolute;
}
.content1 span{
    color: tomato;
    font-family: 'myFont1';
}
.content1 h3{
    text-shadow: 0px 0px 20px rgba(0, 0,0, 0.9);
    color: white;
    font-size: 50px;
    font-family: 'myFont1', sans-serif;
    font-weight: 400;
}
.order{
    position: absolute;
    padding: 70px 0;
    top: 18%;
    left: 25%;
    background-size: cover;
    background-position: center;
}
.input p{
    color: white;
}
.order .order_main #phone, #gmail{
    outline: 0;
}
.order .order_main #phone:valid, #gmail:valid{
    border-color: green;
}
.order .order_main #phone:focus:invalid, #gmail:focus:invalid{
    border-color: red;
}
.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order .order_main .order_image img{
    width: 600px;
}

.order .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order .order_main form .input p{
    line-height: 25px;
}

.order .order_main form .input{
    margin: 5px;
}

.order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}
.order .order_main form .input1 input{
    position: absolute;
    left: 30%;
    width: 300px;
    height: 50px;
}
.order .order_main form .input .text1{
    height: 100px;
}

.order .order_main form .input input:focus{
    border: 2px solid tomato;
}

.order .order_main form .order_btn{
    padding: 10px 0;
    background: tomato;
    position: absolute;
    color: white;
    left: 5px;
    top: 85%;
    border-radius: 3px;
    width: 20%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}
footer{
    box-shadow: 0px 0px 20px black;
    border-radius: 3px;
    background: rgba(0, 0,0, 0.8);
    padding-top: 50px;
    color: white;
}
.container1{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
.hs1{
    font-family: 'myFont1', sans-serif;
    color: tomato;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'myFont1', sans-serif;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    font-family: 'myFont1',sans-serif;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list a{
    color: white;
    text-decoration: none;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: tomato;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: tomato;
}
.social-icons i:hover{
    color: tomato;
}
.bottom-bar{
    background: tomato;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.9);
}

::-webkit-scrollbar-thumb{
    background: tomato;
    border-radius: 10px;
}